.normal {
  
  overflow: auto;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.header {
  margin: 0.49em 16px;
  padding: 24px;
  min-height: 70px;
  height: 40px;
  background-color: rgb(16, 13, 13);
}

.content {
  margin: 0.49em 16px;
  padding: 24px;
  background: #fff; 
 // width:100%;
  overflow:hidden;
}

.main_content{
  width: 60%!important;
 // overflow-y: hidden;
  padding-left: 20px;
  margin-top:15px;
}

.second_content{
  width: 60%!important;
   padding-left: 20px;
   margin-top:15px;
   margin-left:300px;

}
.third_content{
  width: 1200px;
  margin: 0 auto;

}



.common_setting_header{
 // margin: 8px 16px 2px 45px;
  padding: 24px;
  background: #fff;
  height: 80px;
  border-bottom:3px solid #fbfbfc;

}


.main_setting{
 margin-top:5px;
}

.setting_index {
  width: 800px;
  float: left;
  //margin-left: 2px;
}

.right_content {
  width: 510px;
  float: left;
  margin-left: 10px;
}



.block {
  height: 90%;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(52, 63, 75, .1);
}

.setting-group {
  padding: 20px 30px 0;
}

.fix_tab{
    position: absolute;
    top: 108px;
    right: 484px;
    width: 50px;
    background-color: rgb(251, 251, 252);
    border-radius: 5px;

}

.fix_tab .fix_text{
  padding:15px;
  width:10px;
  cursor:pointer;
}
.fix_tab .fix_text:hover{
  color:	#63B8FF;
}

.foot {
  width: 100%;
  height: 130px;
  background-color: #333333;
  margin-top: 30px;
  font-size: 12px;
  padding: 30px;
  text-align: center;
  color: #fff;
}



